<!DOCTYPE html>
<html>
<head>
	<title>No Worries!</title>
	<style>
		/*In case I need to style things for readablity, will write CSS last*/
	</style>
</head>
<body>
	<p>Hello, all y'all.</p>
	<br>
	<br>
	<div>
		{{ test_text }}
	</div>
	<br>
	<br>
	<input type='submit' name='begin_tracking' id='begin-tracking' value='Begin monitoring'>
	<br>
	<br>
	<input type='submit' name='stop_tracking' id='stop-tracking' value='Stop monitoring'>

	<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/static/the_js.js"></script>
</body>
</html>